<head>
    <title><%= (!title) ? "": title; %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- Bootstrap Core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/bootstrap-theme.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
    <!-- Bootstrap Core JS -->
    <!-- <script>window.$ = window.jQuery = require('jquery');</script> -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="./js/jquery.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="./js/bootstrap.js"></script>
    <!-- JS OPTIONS -->
    
    <script type="text/javascript" src="./spam_tag.js"></script>
    <script src="https://cdn.socket.io/3.0.0/socket.io.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.8/sweetalert2.css" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="./js/toastr.min.css" rel="stylesheet" type="text/css" />
    <script src="./js/toastr.min.js"></script>
    <script src="./js/glimpse.js"></script>
    <script src="./js/glimpse.toastr.js"></script>
</head>