<div class="modal" id="modal-show-post-goc" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Bảng - Check Post Gốc</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12" style="margin-top: 10px;text-align: center;">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <div class="description-block">
                                    <h1 style="font-weight: 600; margin: 0;padding: 0;color: green;" id="count_live_post_goc">0</h1>
                                    <span class="description-text">LIVE</span><br>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <div class="col-sm-3">
                                <div class="description-block">
                                    <h1 style="font-weight: 600; margin: 0;padding: 0;color: orange;" id="count_del_post_goc">0</h1>
                                    <span class="description-text">DEL LINK</span><br>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-3">
                                <div class="description-block">
                                    <h1 style="font-weight: 600; margin: 0;padding: 0;color: red;" id="count_die_post_goc">0</h1>
                                    <span class="description-text">DIE</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <div class="col-sm-3">
                                <div class="description-block">
                                    <h1 style="font-weight: 600; margin: 0;padding: 0;color: black;" id="count_kxd_post_goc">0</h1>
                                    <span class="description-text">KXD</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                        </div>
                    </div>
                    <div class="col-12" style="margin-top: 10px;">
                        <div class="col-sm-12" id="show_post_goc">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal" id="modal-show-post-child" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Xuất PostChild</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="row" style="margin-top: 10px;text-align: center;">
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <div class="description-block">
                                    <h1 style="font-weight: 600; margin: 0;padding: 0;color: green;" id="count_live_post_child">0</h1>
                                    <span class="description-text">LIVE</span><br>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4">
                                <div class="description-block">
                                    <h1 style="font-weight: 600; margin: 0;padding: 0;color: red;" id="count_die_post_child">0</h1>
                                    <span class="description-text">DIE</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <div class="col-sm-4">
                                <div class="description-block">
                                    <h1 style="font-weight: 600; margin: 0;padding: 0;color: black;" id="count_kxd_post_child">0</h1>
                                    <span class="description-text">KXD</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-sm-12" id="show_post_child">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal" id="modal-show-account" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tỷ lệ die account</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="row" style="margin-top: 10px;text-align: center;">
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <div class="description-block">
                                    <h1 style="font-weight: 600; margin: 0;padding: 0;color: green;" id="count_live_account">0</h1>
                                    <span class="description-text">LIVE</span><br>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4">
                                <div class="description-block">
                                    <h1 style="font-weight: 600; margin: 0;padding: 0;color: red;" id="count_die_account">0</h1>
                                    <span class="description-text">DIE</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <div class="col-sm-4">
                                <div class="description-block">
                                    <h1 style="font-weight: 600; margin: 0;padding: 0;color: black;" id="count_kxd_account">0</h1>
                                    <span class="description-text">KXD</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>